/*---------- BASE ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFB;
  overflow-x: hidden !important;
  /* Remove barra de rolagem horizontal */
}
header {
  z-index: 1000;
}
ul {
  width: fit-content;
  /* Deixa as opções do menu no tamanho das palavras*/
}
footer{
  background-color: #CED8E4;
}

/*---------- LAYOUT ----------*/
.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1010;
}
.whatsapp svg{
  width: 45px;
}
.whatsapp button{
  background-color: transparent;
  border: none;
}
  /* Primeira div */
.home-first-div {
  /* Fundo da pagina com logo estatica*/
  background: linear-gradient(rgba(250, 250, 250, 0.8),
      rgba(250, 250, 250, 0.8)),
    url("src/img/logo-jtb-quadrada.png") center top / contain no-repeat;

  background-clip: border-box;
  min-height: 460px;
  margin-bottom: 15px;
}
.style-head,
.style-subhead {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);  /* Sombra para melhor contraste */
}
.style-subhead {
  margin-bottom: 40px;
}

/* Terceira div com slides das fotos dos professores */

.carousel-item-box-img{
  width: 390px!important;
  height: 390px!important;
  background-size: cover!important;
  background-repeat: no-repeat;
  background-position: center top;

}
.slide1{
  background-image: url('src/img/atletas/336175857_2827267350740148_5607347130947981797_n.jpg');
}
.slide2{
  background-image: url('src/img/atletas/473986971_18482594224057410_8829578156243463011_n.jpg');
}
.slide3, .slide4, .slide5{
  background-image: url('src/img/atletas/kika.jpg');
  background-position: center center;
}

/* BOX INSTAGRAM */
.boxInstagram{
  background-color: #f4f4f4f4;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Box Formulario */
.boxFormulário{
  border-radius: 15px;
}













/*---------- MODULE ----------*/
nav button {
  background-color: #FBFBFB !important;
  border: 1px solid #241d4f !important;
}
.butttonBars {
  /* Cria barras do menu em telas menores*/
  list-style-type: none;
  width: 30px;
  border: 2px solid #A51931;
  margin: 2px;
  border-radius: 2px;
}
.nav-button-bar-center {
  background-color: #241d4f;
  border: none;
}
.navbar-nav {
  background-color: green !important;
  width: fit-content;
  border: solid 1px #CEDBE8 !important;
  border-radius: 10px !important;
  background-color: #fbfbfb !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.menu-item:hover {
  /* Opções do menu de navegação do cabeçalho */
  background: linear-gradient(rgba(250, 250, 250, 0.8),
      rgba(250, 250, 250, 0.8)),
    url("src/img/bandeira.jpeg");
  background-size: contain;
  background-position: center center;
  padding: 7px;
  border-radius: 5px;
  color: #241d4f !important;
  font-size: 18px;
  width: fit-content;
  border: 1px solid #A51931;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.dropdown-menu {
  border-color: #CEDBE8 !important;
  background-color: #fbfbfb !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.dropdown-item:hover {
  background-color: #CEDBE8 !important;
  color: #fbfbfb !important;
}
li .dropdown-item:hover {
  color: black !important;
  width: 100% !important;
}
.video-boxVideo {
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3), 0 8px 15px rgba(0, 0, 0, 0.3);
}

.insta-card img {
  max-width: 150px;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.insta-card img:hover {
  transform: scale(1.02);
}

.insta-card a:hover h3 {
  color: #A51931; /* cor vermelha do tema */
}





/*---------- STATE ----------*/

/*---------- THEME ----------*/